{% load static %}
<!DOCTYPE html>

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Profiles Page</title>
</head>
<body>
    <a href="{% url 'index' %}" style="text-decoration: none;">Return</a>
        {% if  Data %}
            {% for firstname, lastname, image in Data %}
                <div class="card">
                    <img src="{{image}}" style="width: 50%;height: 50%;"/>
                    <h3 class="title">First Name: {{firstname}}<h3>
                    <h3 class="title">Last Name: {{lastname}}<h3>
                </div>
            {% endfor %}
        {% else %}
            <h1>No Data</h1>
        {% endif %}
</body>
</html>

{% endblock  %}